<div class="l-footer__about">
    <div class="l-footer__logo-wrap">
        <img class="l-footer__logo" src="static/img/LOGO.png" alt="logo">
    </div>

    <div>
        <h3 class="l-footer__title">Company <span>Name</span></h3>
        <p class="l-footer__desc">Phasellus ultrices nulla quis nibh. Quisquea lectus. Donec 
        consectetuer ligula vulputate sem tristique cursus. Nam nulla 
        quam, gravida non, commodo a, sodales 
        sit amet, nisi.</p>
    </div>
</div>

<div class="l-footer__cta">
    <div class="l-footer__qr-wrap">
        <img class="l-footer__qr" src="static/img/QR.png" alt="">
    </div>

    <h3>
        <a class="l-footer__phone" href="#">
            <span>call us now!</span> 
            <span>1800-88-0001</span>
        </a>
    </h3>
</div>