<div class="l-footer__about">
    <div class="l-footer__about-logo">
        <img src="static/img/LOGO.png" alt="logo">
    </div>
    <div class="l-footer__about-desc">
        <h3 class="l-footer__about-title">Company <span>Name</span></h3>
        <p>Phasellus ultrices nulla quis nibh. Quisquea lectus. Donec 
        consectetuer ligula vulputate sem tristique cursus. Nam nulla 
        quam, gravida non, commodo a, sodales 
        sit amet, nisi.</p>
    </div>
</div>

<div class="l-footer__cta">
    <div class="l-footer__cta-qr">
        <img src="static/img/QR.png" alt="">
    </div>
    <h3 class="l-footer__cta-title">
        <a href="#"><span>call us now!</span> <span>1800-88-0001</span></a>
    </h3>
</div>