{% macro render(_active_no) %}
    {% if _active_no == '' %}
        {% set logo_href='#' %}
    {% else %}
        {% set logo_href='index.html' %}
    {% endif %}
		<header class="l-header">
            <span class="l-header__bg"></span>

            <div class="l-inner l-header__inner">
                <div class="l-header__left-sticker">
                    <h1 class="t-head l-header__title l-header__title--has-border">
                        <span>THE</span> 
                        <span>FLYER</span> 
                        <span>BRAND</span>
                    </h1>

                    <p class="l-header__subtitle">Dolor sit amet consectetuer a dipiscing elit.</p>
                </div>

                <div class="l-header__right-sticker">
                    <h2 class="t-head l-header__title">Lorem <span>Ipsum</span></h2>
                    <p class="l-header__subtitle">Dolor sit amet consectetuer a dipiscing elit.</p>
                </div>
            </div>
            
            <div class="l-header__bottom-triangle">
                <div class="l-header__bottom-bar"></div>
            </div>

        </header>
{% endmacro %}