{% macro render(_active_no) %}
    {% if _active_no == '' %}
        {% set logo_href='#' %}
    {% else %}
        {% set logo_href='index.html' %}
    {% endif %}
		<header class="l-header">
            <div class="l-header__background"></div>

            <div class="l-inner l-header__inner">
                <div class="l-header__left-sticker">
                    <div class="l-header__title-sticker">
                        <h1 class="t-head"><span>THE</span> <span>FLYER</span> <span>BRAND</span></h1>
                    </div>
                    <div class="l-header__subtitle">
                        <p>Dolor sit amet consectetuer a dipiscing elit.</p>
                    </div>
                </div>

                <div class="l-header__right-sticker">
                    <h2 class="t-head">Lorem <span>Ipsum</span></h2>
                    <p>Dolor sit amet consectetuer a dipiscing elit.</p>
                </div>
            </div>
            
            <div class="l-header__bottom-triangle">
                <div class="l-header__bottom-bar"></div>
            </div>

        </header>
{% endmacro %}