<section class="l-sec-intro">
    <div class="l-inner l-sec-intro__inner">
        <div class="l-sec-intro__desc">
            <h2 class="l-sec-intro__title">Modern <span>Template</span></h2>
            <p class="l-sec-intro__subtitle">Lorem Ipsum has been the industry’s standard scrambled it to make a type specimen book.</p>
        </div>

        <div class="l-grid u-space-h-3 u-space-v-8@t-m">
            <div class="l-grid__item l-grid__item-4 l-grid__item-6@t-m l-grid__item-12@m">
                <div class="c-box c-box--has-shadow c-box--shadow-right">
                    <div class="c-box__inner">
                        <div class="c-box__ico-container">
                            <img class="c-box__ico" src="static/img/corp_ico.png" width=92 height=90 alt="corporation icon">
                        </div>
                        <div class="c-box__title-wrap">
                            <h3 class="c-box__title">CORPORATE <span>DESIGN<span></h3>
                        </div>
                        <div class="c-box__text">
                            <p>
                            Lorem ipsum dolor sit amet, 
                            consectetuer adipiscing elit. 
                            Donec odio. Quisque volutpat 
                            mattis eros. Nullam malesuada 
                            erat ut turpis. Suspendisse 
                            urna nibh, viverra non, semper 
                            suscipit, posuere a, pede.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-grid__item l-grid__item-4 l-grid__item-6@t-m l-grid__item-12@m">
                <div class="c-box c-box--bg-alt c-box--has-shadow c-box--shadow-mid">
                    <div class="c-box__inner">
                        <div class="c-box__ico-container">
                            <img class="c-box__ico" src="static/img/support_ico.png" width=94 height=104 alt="suport icon">
                        </div>
                        <div class="c-box__title-wrap">
                            <h3 class="c-box__title">SUPPORT <span>DESIGN</span></h3>
                        </div>
                        <div class="c-box__text">
                            <p>
                                Lorem Ipsum has been the industry’s standard scrambledit to make a type specimen book.
                            </p>

                            <p>
                                Dolor sit amet consectetuer
                                a dipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="l-grid__item l-grid__item-4  l-grid__item-6@t-m l-grid__item-12@m u-non-grow">
                <div class="c-box c-box--has-shadow c-box--shadow-left">
                    <div class="c-box__inner">
                        <div class="c-box__ico-container">
                            <img class="c-box__ico" src="static/img/managment_ico.png" width=66 height=91 alt="managment icon">
                        </div>
                        <div class="c-box__title-wrap">
                            <h3 class="c-box__title">MANAGEMENT <span>DESIGN</span></h3>
                        </div>
                        <div class="c-box__text">
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetuer adipiscing elit. 
                                Donec odio. Quisque volutpat 
                                mattis eros. Nullam malesuada 
                                erat ut turpis. Suspendisse 
                                urna nibh, viverra non, semper 
                                suscipit, posuere a, pede.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>