<section class="l-sec-section">
    <div class="l-sec-section__inner">
        <div class="l-sec-section__desc">
            <h2 class="l-sec-section__title">Modern <span>Template</span></h2>
            <p class="l-sec-section__subtitle">Lorem Ipsum has been the industry’s standard scrambled it to make a type specimen book.</p>
        </div>

        <div class="l-grid u-space-h-4">
            <div class="l-grid__item l-grid__item-4">
                <div class="c-block c-block--1">
                    <div class="c-block__inner">
                        <div class="c-block__icon">
                            <img src="../img/corp_ico.png" alt="corporation icon">
                        </div>
                        <div class="c-block__title-wrap">
                            <h3 class="c-block__title">CORPORATE <span>DESIGN<span></h3>
                        </div>
                        <div class="c-block__text">
                            <p>
                            Lorem ipsum dolor sit amet, 
                            consectetuer adipiscing elit. 
                            Donec odio. Quisque volutpat 
                            mattis eros. Nullam malesuada 
                            erat ut turpis. Suspendisse 
                            urna nibh, viverra non, semper 
                            suscipit, posuere a, pede.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-grid__item l-grid__item-4">
                <div class="c-block c-block--2">
                    <div class="c-block__inner">
                        <div class="c-block__icon">
                            <img src="../img/suport_ico.png" alt="suport icon">
                        </div>
                        <div class="c-block__title-wrap">
                            <h3 class="c-block__title">SUPPORT <span>DESIGN</span></h3>
                        </div>
                        <div class="c-block__text">
                            <p>
                                Lorem Ipsum has been the industry’s standard scrambledit to make a type specimen book.
                            </p>

                            <p>
                                Dolor sit amet consectetuer
                                a dipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="l-grid__item l-grid__item-4">
                <div class="c-block c-block--3">
                    <div class="c-block__inner">
                        <div class="c-block__icon">
                            <img src="../img/corp_ico.png" alt="corporation icon">
                        </div>
                        <div class="c-block__title-wrap">
                            <h3 class="c-block__title">MANAGEMENT <span>DESIGN</span></h3>
                        </div>
                        <div class="c-block__text">
                            <p>
                                Lorem ipsum dolor sit amet, 
                                consectetuer adipiscing elit. 
                                Donec odio. Quisque volutpat 
                                mattis eros. Nullam malesuada 
                                erat ut turpis. Suspendisse 
                                urna nibh, viverra non, semper 
                                suscipit, posuere a, pede.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>