<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {{ index.title }} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        {% include "head/head-links.twig" %}
    </head>
    <body>
        <div class="l-page">
            {% import "partials/layouts/header.twig" as l_header %}
            {{ l_header.render() }}
            
            <main class="l-main">
                <div class="l-main__content" data-css-spacing="top5 tablet(top3) phone(top1)" data-css-offset="tablet(top3) left2 desktop-small(left1)">
                    {% include "partials/layouts/sec-intro.twig" %}
                </div>
            </main>
        </div>

        <footer class="l-footer" data-css-spacing="top2 tablet(top1) left5 tablet(left3)">
            <div class="l-inner l-footer__inner">
                {% include "partials/layouts/footer.twig" %}
            </div>
        </footer>
        <script src="./static/js/app.js"></script>
    </body>
</html>

