@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/myriadpro.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/myriadpro-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.otf');
    font-weight: normal;
}