.l-footer {
    position: relative;

    background: $color_black;
    color: white;
}

.l-footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 0 5.8rem;
}

.l-footer__about {
    display: flex;
    align-items: center;
    flex: 1 1 56%;

    max-width: 56%;
    padding: 2.75rem 0;
    
    border-right: .4rem solid white;

    @include media('<=m'){
        flex: 1 1 100%;

        max-width: 100%;

        border-right: 0;
    }
}

.l-footer__logo-wrap {
    margin-right: 3rem;
}

.l-footer__title {
    margin: 0;
    
    text-transform: uppercase;
    font-size: 4.35rem;
    font-weight: 700;

    @include media('<=t'){
        font-size: 3.5rem;
    }
}

.l-footer__title span {
    font-weight: 400;
}

.l-footer__desc {
    margin: 0;
    padding-right: 2rem;

    font-size: 1.6rem;
    letter-spacing: .1rem;

    @include media('<=m'){
        padding-right: 0;
    }
}

.l-footer__cta {
    display: flex;
    flex: 1 1 44%;
    align-items: center;
    justify-content: center;
    justify-items: center;

    max-width: 44%;
    padding: 6.5rem 0;

    @include media('<=m'){
        flex: 1 1 100%;

        max-width: 100%;
    }
}


.l-footer__qr-wrap {
    margin-left: 6.5rem;
    margin-right: 2rem;

    @include media('<=t'){
        margin-left: 0;
    }
}

.l-footer__qr {
    width: 8.5rem;
    height: 8.5rem;

    @include media('<=t'){
        width: 6rem;
        height: 6rem;
    }
}


.l-footer__phone {
    display: flex;
    flex-direction: column;

    text-transform: uppercase;
    line-height: 1;
}

.l-footer__phone span:nth-child(1){
    color: $color_white;
    
    font-size: 4.25rem;
    text-decoration: underline;

    @include media('<=t'){
        font-size: 2.5rem;
    }
}

.l-footer__phone span:nth-child(2){
    color: $color_blue;

    font-size: 4.85rem;

    @include media('<=t'){
        font-size: 3rem;
    }
}

