.l-sec-section {

    transform-origin: left bottom;
    transform: skewY(-25deg);
    margin-top: 14rem;
    padding-top: 2.5rem;
    background: $color_white;
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__desc {
        position: relative;
        margin-top: 8.5rem;
        order: 2;
        transform: skewY(25deg);
        max-width: 35rem;

        &::before {
            position: absolute;
            top: 60%;
            left: -9.5rem;
            display: block;
            content: "";
            width: 5.6rem;
            height: 6.55rem;
            background-image: url(../img/triangle.png);
            background-size: 5.6rem 6.55rem;
            transform: translateY(-50%);

            @include media('<=m-s'){
                width: 2.8rem;
                height: 3.275rem;
                background-size: 2.8rem 3.275rem;
                left: -5.5rem;
            }
        }
    }

    &__title {
        font-size: 4.25rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: -1.7rem;
        letter-spacing: 6px;

        span {
            font-size: 7.5rem;
            display: block;
            font-weight: 700;
            letter-spacing: -4px;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 1.55rem;
        color: $color_gray;
    }
}