.c-block {
    position: relative;
    width: 100%;
    background: linear-gradient(90deg, $color_violet, $color_blue);
    color: white;

    &--2{
        background: linear-gradient(180deg, $color_violet, $color_blue);
    }

    &__inner {
        transform: skewY(25deg);
        padding: 12rem 4rem;   
    }

    &__icon {
        text-align: center;
    }

    &__title-wrap {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 7rem;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        span {
            display: block;
            font-size: 5rem;
            font-weight: 400;
        }
    }

    &__text {
        font-size: 3.8rem;
    }

    &::before {
        position: absolute;
        z-index: -1;
        bottom: -4rem;   
        content: "";
        display: block;
        background-color: $color_black;
        width: 70%;
        height: 70%;
    }

    &--1::before {
        left: 25%;
    }
    &--2::before {
        left: 15%;
    }
    &--3::before {
        left: -2rem;
    }

}